:root{
    /* CONFIGURABLE SETTINGS */
        /* COLORS */
        --color-white: #FFFFFF;
        --color-light-grey: #F2F2F2;
        --color-dark-grey: #8F8F8F;
        --color-red: #ff2e17;
        --color-dark-red: #8F0E00;
        --color-black: #0A0A0A;

        --link-color: var(--color-dark-grey);
        --hover-link-color: var(--color-dark-red);

        /* BACKGROUND */
        --light-red-color: var(--color-light-red);
        --dark-red-color: var(--color-dark-red);

        /* COLOR SCHEMES */
        [data-color-scheme|="red"] {
            --background-color: var(--light-red-color);
        }

        [data-color-scheme|="dark-red"] {
            --background-color: var(--dark-red-color);
        }

        /* TEXT */
            /* PRIMARY FONT */

            /* SECONDARY FONT */

            /* FONT SIZES */

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* PRIMARY BUTTON */
            /* DEFAULT STYLE */
            :is(.primary-button, .secondary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                border-radius: calc(var(--element-border-radius) * 2);
            }

            :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                background-color: var(--color-red);
                border-color: var(--color-red);
                text-align: center;
            }

            :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--dark-red-color);
                border-color: var(--dark-red-color);
            }

            /* LIGHT BACKGROUND COLORS */
            :is([data-color-scheme="red"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                background-color: var(--light-red-color);
                border-color: var(--color-red);
            }

            :is([data-color-scheme="red"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--dark-red-color);
                border-color: var(--color-dark-red);
            }

            /* DARK */
            :is([data-color-scheme="dark-red"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                background-color: var(--dark-red-color);
                border-color: transparent;
            }

            :is([data-color-scheme="dark-red"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--dark-red-color);
                border-color: transparent;
            }

        /* SECONDARY BUTTON */
            /* STYLE */

            /* LIGHT BACKGROUND COLORS */
            :is([data-color-scheme="red"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button) {
                color: var(--color-red);
                border-color: var(--color-red);
            }

            :is([data-color-scheme="red"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--dark-red-color);
                color: var(--color-white);
                border-color: var(--color-dark-red);
            }

            /* DARK */
            :is([data-color-scheme="dark-red"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                border-color: var(--color-white);
            }

            :is([data-color-scheme="dark-red"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--dark-red-color);
                color: var(--color-white);
                border-color: var(--color-white);
            }

        /* FORMS */

        /* EYEBROW */

        /* MARGINS */

        /* MISCELANEOUS */
        --element-border-radius: 2rem;

}

.blocks-container {
    margin: 0 auto;
    -webkit-transform: translate3d(0,0,0);
}

.blocks-container > .alignfull {
    max-width: 100%;
    -webkit-transform: translate3d(0,0,0);
}