body .page-wrapper main .posts-archive-with-filter {
    margin-top: calc( var(--block-margin) / 2 );
    margin-left: var(--page-padding);
    margin-right: var(--page-padding);
}

.posts-archive-with-filter .post-loop-image {
    display: none;
}

.posts-archive-with-filter-content-grid h3 {
    height: auto;
}