.header-simple {
    padding: var(--page-padding);
}

.header-simple .logo :is(img, svg) {
    max-width: 18rem;
    max-height: 6rem;
}

.header-simple .logo :is(svg path) {
    color: var(--color-black);
}

.header-simple nav ul.menu li.menu-item a:not(:hover, :active, :focus) {
    color: var(--color-black);
    text-underline-offset: 0.3rem;
    text-decoration-color: transparent;
    transition: 0.3s ease all;
}

.header-simple .header-simple-inner nav ul.menu li.current-menu-item a {
    color: var(--color-red);
}

.header-simple a {
    text-transform: uppercase;
    font: var(--font-body-small);
    font-weight: 600;
}

.header-simple a:is(:hover, :active, :focus) {
    text-decoration-color: var(--color-dark-red);
}

.header-simple nav .menu-destaque-container ul.menu:is(.featured-menu) li a {
    color: var(--color-white);
    display: flex;
    column-gap: 1rem;
    border-radius: var(--element-border-radius);
    font: var(--font-body-small);
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    font-weight: 600;
    background-color: rgb(8, 142, 62);
    border-color: rgb(8, 142, 62);
}

.header-simple nav .menu-destaque-container ul.menu:is(.featured-menu) li a::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url(../../img/whatsapp.png);
    background-size: cover;
}

.header-simple nav .menu-destaque-container ul.menu:is(.featured-menu) li a:is(:active, :hover, :focus) {
    background-color: rgb(3, 67, 35);
    border-color: rgb(3, 67, 35);
    text-decoration: none;
}

.header-simple :is(.header-simple-search-toggle, .header-simple-search-form-submit):is(:hover, :focus, :active) {
    color: var(--color-dark-red);
}

.header-simple.search-open .header-simple-search-form {
    outline: 0.1rem solid var(--color-black);
    border-radius: var(--element-border-radius);
}

@media (min-width: 992px) {
    .header-simple nav ul.menu li:is(.menu-item-has-children) ul.sub-menu {
        background-color: var(--color-light-grey);
    }
}