.page-hero-carousel h1.page-hero-carousel-title {
    font: var(--font-headline-2);
    line-height: normal;
}

.page-hero-carousel:is([data-content-width="centered-half"], [data-content-width="half"]) .page-hero-carousel-inner {
    width: 80%;
}