.content-in-columns .content-in-columns-details-image img {
    border-radius: var(--element-border-radius);
}

.content-in-columns .content-in-columns-buttons {
    justify-content: center;
}

.content-in-columns-eyebrow {
    font: var(--font-headline-6);
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 0;
    text-transform: none;
    text-decoration: underline;
    text-decoration-thickness: 0.6rem;
    text-decoration-color: var(--color-red);
    text-underline-offset: 0.6rem;
}

.content-in-columns .content-in-columns-details {
    margin: calc(var(--block-margin) / 2) 0 0;
    row-gap: var(--row-gap);
    padding: 0 var(--page-padding);
}

.content-in-columns .content-in-columns-details-image img {
    aspect-ratio: 1/1;
}

.content-in-columns:is([data-color-scheme="dark"]) .content-in-columns-media .content-in-columns-image :is(img) {
    opacity: 0.2;
}

.content-in-columns .content-in-columns-details .content-in-columns-details-item {
    text-align: center;
    font: var(--font-body-small);
    background: var(--color-light-grey);
    display: flex;
    justify-content: center;
    padding: var(--item-column-gap);
    border-radius: var(--element-border-radius);
}

.content-in-columns .content-in-columns-details .content-in-columns-details-item h3 {
    font: var(--font-body);
    font-weight: 700;
}

.content-in-columns .content-in-columns-details .content-in-columns-details-item p {
    margin-bottom: 0;
}

.content-in-columns .content-in-columns-details .content-in-columns-details-item .content-in-columns-details-icon {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .content-in-columns .content-in-columns-details:is([data-columns="5"]) {
        display: grid;
        justify-content: center;
        column-gap: var(--item-column-gap);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content-in-columns .content-in-columns-details:is([data-columns="5"]) {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        row-gap: var(--item-column-gap);
    }
}

@media (min-width: 992px) {
    .content-in-columns .content-in-columns-details:is([data-columns="5"]) {
        grid-template-columns: repeat(5, 1fr);
    }

    .content-in-columns.alignfull .content-in-columns-content {
        padding: 0 var(--page-padding);
    }

    .content-in-columns .content-in-columns-details {
        row-gap: 0;
        padding: 0;
    }

    .content-in-columns .content-in-columns-details .content-in-columns-details-item {
        height: 30rem;
    }
}